*{
    padding: 0;margin: 0;
}
section{
    /* background-color: pink; */
    width: 1400px;
    margin: auto;
}

div{
    /* background-color: rgb(210, 210, 246); */
    width: calc(25% - 3px) ;
    /* pour center tout ce qui est inline ou inline-block */
    text-align: center;
    display: inline-block;
}
div:hover {
    /* background-color: red; */
}
div:hover img{
transform: scale(0.9);

}
/* https://github.com/medharik/dev1-omnia-school */

div img{
    width: 95%;
}


img:nth-child(2) {
    display: none;
}
div:hover img:nth-child(1){
    display: none;
} 
div:hover img:nth-child(2){
    display: inline-block;
} 