*{
    margin: 0;padding: 0;
    font-size: 0;
}
.principale{
    /* background: yellow; */
    height: 100vh;
    margin-bottom:10px ;
    
}
.moitie{
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    color: rgb(21, 20, 20);
    
}
.gauche{
    /* background: blue; */
    /* text-align: right; */
    
}
.gauche img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.droite{
    height: auto;
    /* background: green; */
    font-size: 19px;
    text-align: center;
    font-family: sans-serif;
    
}
h2{
    font-size: 2em;
    line-height: 40px;
}
h3{
    font-size: 1.5em;
    line-height: 40px;
}
